a{
    text-decoration: none !important;
}
.card{
    color: white !important;
}
              
.bg-actinoid{
    color: #8663C9 !important;
}
                  
 .bg-alkali_metal{
    color: #4895EF !important;

 }
            
 .bg-alkaline_earth_metal{
color: #3A0CA3 !important;
 }
            
 .bg-halogen {
    color: #0ca341 !important;

 }
              
 .bg-lanthanoid  {
    color: #ff133a !important;

 }  
             
 .bg-metalloid  {
    color: #00dd97 !important;

 }
            
 .bg-noble_gas{
    color: #ff4400 !important;

 }
             
 .bg-nonmetal {
    color: #05e6ff !important;

 }           
 .bg-post-transition_metal {
    color: #ae00ff !important;

 }             
 .bg-transition_metal{
    color: #fd24f9 !important;

 }